*{
    font-family:sans-serif;
}
table{
    width: 300px;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}
td{
    padding: 5px;
}
tr:hover{
    background-color: coral;
}
td:hover{
    background-color: cyan;
}
h1{
    background-color: darkgoldenrod;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 20px 30px 20px 30px;
}