/* .main{
    border: 2px solid grey;
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
.result{
    width: 95%;
    background-color: gray;
    color: black;
    height: 30px;
}
.clearbtn{
    width: 95%;
    margin-top: 10px;
    background-color: gray;
}
.btn{
    background-color: gray;
    width: 55px;
    margin: 1px;
}
.otherbtn{
    background-color: gray;
    width: 47%;
    margin: 1px;
} */

/* .hidden{
    display: none;
}
.image{
    width: 500px;
    height: 500px;
} */

